                                    ASSIGNMENT - 1

Q1. Create one variable containing following type of data:(i)String (ii) List (iii) Float (iv) Tuple

In [40]:
x = "Hello World"
type(x)

str

In [2]:
l = [1,2,3,4, "data", 40.3, True]
type(l)

list

In [13]:
# float
f = 40.3
type(f)

float

In [4]:
# tuple
t = ("apple", "banana", "mango")
type(t)

tuple

Q2. Given are some following Variables containing data:

In [5]:
var1= ''
type(var1)

str

In [6]:
var2='[ DS, ML, PYTHON ]'
type(var2)

str

In [7]:
var3= [ 'DS', 'ML', 'PYTHON' ]
type(var3)

list

In [8]:
var4= 1.
type(var4)

float

Q3. Explain the use of the following variables using example:

In [9]:
6/2 #Division operator

3.0

In [10]:
4%5 #Modulus operator

4

In [11]:
8//6 #Floor divison

1

In [12]:
2**3 #Exponent

8

Q4. Create a list of length 10  of your choice containing multiple types of data. using for loop print the element and its data type.

In [14]:
l = [ 1,2,3,4,5,6, "string" , 40.3 , 1j , True]
for i in l:
    print(type(i))
    print(i)

<class 'int'>
1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'int'>
6
<class 'str'>
string
<class 'float'>
40.3
<class 'complex'>
1j
<class 'bool'>
True

Q5. using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [19]:
A = 6
B = 3
n = 0 

while A % B ==  0:
    n += 1 
    A = A // B
    
    if n > 0:
        print ( " A is purely divisible by B(n) times " )
    else:
            print ( " A is not divisible by B " )

 A is purely divisible by B(n) times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [20]:
l = [ 15, 3 , 25 , 67 ]

In [21]:
l

[15, 3, 25, 67]

In [23]:
for i in l:
    if i % 3 == 0:
        print(" i is divisible by 3")
    else:
        print(" i is not divisible by 3")

 i is divisible by 3
 i is divisible by 3
 i is not divisible by 3
 i is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give example for both showing this property.

In [25]:
# List is mutable object 
l = [ 1,2,3,4,5,6, "Aish", (3+7j), True , 34.56 ]

In [26]:
l

[1, 2, 3, 4, 5, 6, 'Aish', (3+7j), True, 34.56]

In [28]:
l[1]

2

In [29]:
l[1] = 300

In [30]:
l[1]

300

In [31]:
l

[1, 300, 3, 4, 5, 6, 'Aish', (3+7j), True, 34.56]

In [36]:
# String is immutable object
i = "Aish"

In [38]:
i

'Aish'

In [39]:
i(0) = B

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (3213436094.py, line 1)